.text-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0;
  color: var(--color-blue);
  font-size: 14px;

  &:hover {
    text-decoration: underline;
  }

  .icon {
    margin-right: 4px;
  }

  &.variant-small {
    font-size: 12px;
  }

  &.color-gray {
    color: var(--color-gray-dark);
  }

  &.color-red {
    color: var(--color-red);
  }
}
