.topicsTitle {
  font-size: 12px;
  color: var(--txt-500);

  .count {
    font-size: 12px;
  }
}

.topic {
  color: var(--txt-dark);

  a {
    color: var(--txt);
    transition: all 0.2s;
    font-weight: 500;

    &:hover {
      color: var(--color-blue);
    }
  }
}

.count {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  font-size: 14px;

  & > div {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }

  span {
    &:first-of-type {
      color: var(--color-green);
    }

    &:last-of-type {
      color: var(--color-red);
    }
  }
}

.hr {
  border-bottom: 1px solid var(--hr);
}
