.question-container {
  max-width: 664px;

  .buttons {
    margin-top: 20px;
    justify-content: space-between;
    display: flex;

    .next-question-btn {
      background: var(--color-blue);
      color: #fff;
      border: none;
      border-radius: 4px;
      padding: 0 20px;
      cursor: pointer;
      font-size: 14px;
      height: 40px;
    }
  }

  .rightBtns {
    text-align: right;
  }
}

.help-container {
  margin-top: 20px;
}
