.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  color: var(--txt-500);

  & > span {
    font-size: 14px;
    padding-bottom: 8px;

    & > span {
      color: var(--txt-600);
    }

    &:last-of-type {
      font-size: 12px;
      padding: 8px 0 0 0;
      color: var(--txt-600);
    }
  }

  .bar {
    width: 100%;
  }
}
