.progress {
  display: flex;
  width: 100%;
  transition: all 0.3s ease-in-out;
  height: 4px;
  border-radius: 10px;
  background: var(--color-gray-light);
  overflow: hidden;

  .value,
  .secondValue {
    height: inherit;
    background: var(--color-blue);
  }

  &.variant-secondary {
    height: 6px;
    border-radius: 0;
    background: var(--progress-bg);

    .value {
      background: var(--progress-positive);
    }

    .secondValue {
      background: var(--progress-negative);
    }
  }
}
