.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  font-size: 14px;
  //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  button {
    font-size: 12px;
    cursor: pointer;
  }

  th, td {
    padding: 3px;
    border: 1px solid var(--home-btn-bg);
    text-align: left;
  }

  th {
    background-color: var(--home-btn-bg);
    color: white;
    font-size: 12px;
    padding: 1px;
  }

  tr:nth-child(even) {
  }

  tr:hover {
    background-color: var(--home-btn-bg);
  }

  tr {
    &.active {
      background-color: var(--color-blue-dark);


      td:first-of-type {
        font-weight: 600;
      }
    }


    &.first {
      font-size: 8px;
      height: 8px;

      td {
        padding: 0;
      }
    }

    &.none {
      background-color: var(--answer-wrong-bg);
    }
  }
}

.opacity {
  opacity: 0.3;

  &:hover {
    opacity: 1;
  }
}
