.verified-block {
  padding: 12px 14px !important;
  gap: 12px !important;
  border-radius: 8px;

  svg {
    flex-shrink: 0;
    width: 28px !important;
    height: 28px !important;
    margin-right: 0 !important;
  }

  a {
    display: inline;
  }
}

.no-margin-top {
  margin-top: 0 !important;
}

.blue {
  svg {
    color: #90caf9;
  }
}
