.header {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;

  .left {
    display: flex;
    align-items: center;

    a {
      line-height: 10px;
    }

    img {
      height: 16px;
      margin-right: 5px;
    }

    .logo {
      position: relative;
      border: 2px solid var(--color-red);
      height: 14px;
      width: 14px;
      border-radius: 10px;
      margin-right: 6px;

      & > div {
        position: absolute;
        left: 1px;
        top: 1px;
        height: 8px;
        width: 8px;
        border: 2px solid var(--color-blue);
        border-radius: 10px;
      }
    }

    h1 {
      font-size: 14px;
      font-weight: 500;
      color: var(--color-red);
      line-height: 24px;
      margin: 0;
      padding: 0;

      span {
        color: var(--color-black);
        // font-weight: 400;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;

    .menu-btn {
      cursor: pointer;
      padding: 0px;
      margin: 0px;
      line-height: 16px;
      border-radius: 3px;

      &:hover {
        color: var(--color-blue);
      }
    }

    .lang-btn {
      font-size: 14px;
      line-height: 14px;
      cursor: pointer;
      margin-right: 11px;

      &.active {
        color: var(--color-blue);
      }
    }
  }
}
