.question {
  // max-width: 664px;

  p {
    font-weight: 500;
    font-size: 18px;
  }

  img {
    margin: 20px 0 0 0;
    max-width: 100%;
  }

  .answers {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    li {
      cursor: pointer;
      margin-bottom: 8px;
      border-radius: 3px;
      padding: 12px 15px;
      color: var(--answer);
      background: var(--answer-bg);

      &.correct {
        background: var(--answer-correct-bg) !important;
        color: var(--answer-correct) !important;
      }

      &.wrong {
        background: var(--answer-wrong-bg);
        color: var(--answer-wrong);
      }

      &.shouldShowRightAnswer {
        position: relative;
        background: var(--color-status-show-right-answer);

        &::before {
          position: absolute;
          left: 0px;
          top: 0;
          content: '';
          display: block;
          font-size: 12px;
          background: var(--color-status-correct);
          width: 4px;
          height: 100%;
        }
      }
    }
  }

  .withoutImg {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: var(--color-gray-dark);
    margin: 20px 0;

    & > div {
      margin-left: 10px;
      height: 1px;
      border-bottom: 1px solid var(--hr);
      flex: 1;
    }
  }
}
