:root {
  --color-status-correct:  rgb(140, 228, 140);
  --color-status-wrong: rgb(255, 135, 135);
  --color-status-show-right-answer: rgb(218 245 218);
  --color-red: #db001b;
  --color-sky: #e8eff9;
  --color-blue: #3973c5;
  --color-blue-dark: #183964;
  --color-black: #181818;
  --color-black-light: #191919;
  --color-gray: #a2a2a2;
  --color-gray-light: #f5f5f5;
  --color-gray-dark: #8b8b8b;
  --color-gray-soft: #e8e8e8;
  --color-gray-night: #e1e1e1;
  --color-gray-night2: #c1c1c1;
  --color-gray-night3: #c6c6c6;
  --color-green: #85b73e;
  --color-wrong: #bf3328;
  --color-violet-light: #c461fe;
  --color-violet-dark: #7f33fb;
  --color-violet-soft: #f1eef9;
  --color-yellow: #ffda00;
  --color-answer-wrong: #c82a29;
  --color-answer-correct: #8bb050;

  /**
  img
  #cf4b41
  #520e27
  #f5be97
  #000
  sky #eee
  #ac2a3e
  #dc817a
  #b8c0d0
  **/

}
/* 
.App {
  margin: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

html {

}

body {
  color: var(--color-black);
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

.questions .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}



.question-numbers {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  
}

.question-numbers li {
  position: relative;
  width: 36px;
  height: 36px;
  background: var(--color-gray-light);
  text-align: center;
  line-height: 36px;
  margin-right: 4px;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 14px;
}

.question-numbers li.correct {
  background: var(--color-green)!important;
  color: #fff;
}

.question-numbers li.wrong {
  background: var(--color-red) !important;
  color: #fff;
}

.question-numbers li.active {
  background: #ddd;

  &:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #fff;
  }
}


.favorite-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0;
  color: var(--color-blue);
  font-size: 14px;
  margin-top: 10px;
  user-select: none;
}

.favorite-btn svg {
  margin-right: 5px;
}

.in-favorite-btn {
  color: var(--color-red);
}

.in-favorite-btn:hover {
    color: var(--color-blue);
}

.report-btn {
  margin-top: 10px;
  color: var(--color-gray-dark);
  font-size: 12px;
}

.report-btn.active {
  color: var(--color-red);
  font-weight: 500;
}

.show-right-answer-btn.active {
  color: var(--color-blue);
  font-weight: 400;
}

.next-question-btn {
  background: var(--color-blue);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.percent {
  width: 200px;
  font-size: 12px;
  color: var(--color-black);
  margin: 5px 0 10px 0;
}

.percent .scale {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  height: 5px;
}

.percent .scale .correct {
  background: var(--color-status-correct);
  transition: all 0.3s ease-in-out; 
}

.percent .scale .wrong {
  background: var(--color-status-wrong);
  transition: all 0.3s ease-in-out; 
}

.percent .scale .not-answered {
  background: var(--color-gray-light);
  transition: all 0.3s ease-in-out; 
}

.percent .values {
  display: flex;
  margin-bottom: 3px;
}

.percent .values .wrong {
  text-align: right;
}

.statistic {
  display: flex;
  justify-content: space-between;
}

.home-page-container {
  max-width: 450px;
  margin-bottom: 50px;
  min-width: 420px;
}

.page-container {
  max-width: 664px;
  margin-bottom: 50px;
}

.btn {
  position: relative;
  height: 54px;
  background: var(--color-sky);
  border-radius: 4px;
  text-align: center;
  text-decoration: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;

  &:hover {
    opacity: 0.9;
  }
}

.btn>div {
  position: absolute;
  right: 4px;
  top: 4px;
  font-size: 10px;
  line-height: 8px;
  opacity: 0.8;
}

.btn>svg {
  margin-right: 6px;
  color: var(--color-blue);
}

.btn .counter {
  position: absolute;
  right: -3px;
  top: -3px;
  font-size: 10px;
  line-height: 8px;
  border-radius: 100%;
  background: var(--color-yellow);
  /* background: var(--color-red); */
  /* color: #fff; */
  font-weight: 600;
  height: 22px;
  width: 22px;
  line-height: 22px;
  opacity: 1;
  box-shadow: 0 0 0px 2px #fff;
}

.btn.btn-blue {
  background: var(--color-blue);
  color: #fff;
}

.btn.btn-red {
  background: var(--color-red);
  color: #fff;
}

.btn.btn-gray {
  background: var(--color-gray-light);
}

.btn.btn-large-font {
  font-weight: 500;
  font-size: 19px;
}

.btn.btn-small-font {
  font-weight: 400;
  font-size: 13px;
}

a {
  text-decoration: none;
  color: var(--color-black)
}


.answer-history {
  position: relative;
  width: 100%;
  border-bottom: 1px solid var(--color-gray-night2);
  padding-bottom: 7px;
} 

/* .answer-history::after {
  position: absolute;
  content: '';
  width: 2000px;
  left: -2000px;
  height: 1px;
  background: var(--color-gray-night2);
  bottom: -1px;
}

.answer-history::before {
  position: absolute;
  content: '';
  width: 2000px;
  right: -2000px;
  height: 1px;
  background: var(--color-gray-night2);
  bottom: -1px;
} */

.answer-history .question-numbers {
 
}

.btn-prev-page {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  align-items: center;
  cursor: pointer;
}
.btn-prev-page svg {
  margin-right: 2px;
  color: var(--color-blue);
}
.btn-prev-page:hover {
  color: var(--color-blue);
}


.mt0 {
  margin-top: 0 !important;
}

h4 {
  margin-bottom: 0;
  color: var(#333);
}

.report {
  margin-top: 15px;
  background: var(--color-violet-soft);
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 50px;
}

.report a {
  text-decoration: underline;
  color: var(--color-blue)
}

.report .title {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.report button {
  background: var(--color-blue);
  color: #fff;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.report button:hover {
  background: var(--color-blue-dark);
}